.card.filter.js-clients__filter
  .card-header
    Filter
    .float-sm-right
      = link_to 'Reset filter', nil, class: 'js-filter__reset-link'
  .card-body.js-filter__options-wrapper
    %form.js-clients__filter-form
      .form-group
        %input.form-control.js-clients__filter-option.js-clients__filter-term#filter-term{ placeholder: 'Search clients by title, name or email', value: "#{@filter_params[:term]}" }
