- content_for :heading do
  Clients

- content_for :heading_action_buttons do
  = link_to new_client_path do
    = tag.button('Add client', class: 'btn btn-primary')

%table#clients-datatable.table{ data: { source: clients_path(user: current_user, format: :json) } }
  %thead
    %th ID
    %th Title
    %th Name
    %th Email
    %th Phone
  %tbody
