.card.filter.js-orders__filter
  .card-header
    Filter
    .float-sm-right
      = link_to 'Reset filter', nil, class: 'js-filter__reset-link'
  .card-body.js-filter__options-wrapper
    %form.js-orders__filter-form
      .row
        .col-md-8
          .form-group
            %input.form-control.js-filter__option.js-orders__filter-term#filter-term{ placeholder: 'Search by title, client, invoice number or ID', value: "#{@filter_params[:term]}" }
        .col-md-4
          .form-group
            = select_tag :status, options_for_select(order_status_options_for_select, @filter_params['status']),
              include_blank: 'Any status', class: 'form-control js-filter__option js-orders__filter-status'
