th {
  border: 0;
  background-color: $gray-200;
}

.datatable__controls-wrapper {
  border: 1px solid $gray-300;
  background-color: $gray-100;
  padding: 20px;

  .pagination {
    margin: 0;

    @include media-breakpoint-up(sm) {
      float: right;
    }
  }

  .dataTables_info {
    padding-top: 5px;
    color: $gray-600;
  }
}

.dataTable th {
  &::before,
  &::after {
    font-family: Arial, Helvetica, sans-serif;
  }

  &.sorting_desc,
  &.sorting_asc {
    background-color: $gray-300;
  }
}
