th {
  border: 0;
  background-color: $gray-200;
}

.datatable__controls-wrapper {
  border: 1px solid $gray-300;
  background-color: $gray-100;
  padding: 20px;

  // Overriding DataTable default style
  .pagination {
    margin: 0;

    @include media-breakpoint-up(sm) {
      float: right;
    }
  }

  // Overriding DataTables default style
  // scss-lint:disable SelectorFormat
  .dataTables_info {
    padding-top: 5px;
    color: $gray-600;
  }
  // scss-lint:enable SelectorFormat
}
