.navbar-dark {
  background-color: $gray-700;
}

.navbar {
  .navbar__logo {
    font-weight: 500;
  }

  .navbar__link {
    &,
    &:visited,
    &:hover {
      text-decoration: none;
      color: $gray-100;
    }
  }
}

.filter {
  margin-bottom: 40px;

  .filter__options-wrapper--active {
    background-color: $light-yellow;
  }

  .filter__option--active {
    border: 2px solid $blue;
  }
}
