.navbar-dark {
  background-color: $gray-800;
}

.navbar {
  .navbar__logo {
    text-decoration: none;
    color: $gray-100;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .navbar__link {
    &,
    &:visited,
    &:hover {
      text-decoration: none;
      color: $gray-100;
      font-size: 1rem;
    }
  }
}

.filter {
  margin-bottom: 40px;

  .filter__options-wrapper--active {
    background-color: $c-light-yellow;
  }

  .filter__option--active {
    border: 2px solid $blue;
  }
}

.status {
  padding: 5px 10px;
  white-space: nowrap;
}

.status-pending {
  background-color: $c-light-orange;
}

.status-in-progress {
  background-color: $c-light-blue;
}

.status-done {
  background-color: $c-light-green;
}

.manage-btn-group {
  white-space: nowrap;

  a:first-child {
    padding-right: 3px;
  }
}
