.bg-dark {
  background-color: $gray-700 !important;
}

.navbar__logo {
  font-weight: 500;
}

.navbar__link {
  &,
  &:visited,
  &:hover {
    text-decoration: none;
    color: $gray-100;
  }
}

.filter__options-wrapper--active {
  background-color: #fef9b8;
}

.filter__option--active {
  border: 2px solid #81bdc9;
}
