// Override Bootstrap variables specified in node_modules/bootstrap/scss/_variables.scss
// and define custom variables

$font-size-base: .8rem;

$primary: #1e22aa;

$c-dark-blue: #00c;
$c-light-yellow: #fef9b8;
$c-light-green: #b9f6ca;
$c-light-blue: #bbdefb;
$c-light-orange: #ffecb3;

// Links
$link-color: $c-dark-blue !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 10%) !default;
$link-hover-decoration: none !default;

$btn-focus-box-shadow: none !important;

$form-feedback-valid-color: #ccc;
$form-feedback-icon-valid: '';
$form-feedback-icon-invalid: '';
