// Bootstrap
@import 'variables';
@import '~bootstrap/scss/bootstrap';

// FontAwesome
$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular';

.logo {
  &,
  &:visited,
  &:hover {
    color: $gray-900;
    font-weight: $font-weight-bold;
    text-decoration: none;
  }
}

th {
  background-color: #eee;
}
