.container.d-flex.flex-column.flex-md-row.align-items-center.pt-3.pb-2
  %h5.my-0.mr-md-auto.font-weight-normal Big Business
  %nav.my-2.my-md-0.mr-md-3
    %a.p-2.text-dark{:href => "#"} Clients
    %a.p-2.text-dark{:href => "#"} Orders
    %a.p-2.text-dark{:href => "#"} Reports
  %a.btn.btn-outline-primary{:href => "#"} Sign up

.border-bottom.shadow-sm.p-1.mb-3
